In [17]:
import warnings
warnings.filterwarnings(action='ignore')

# 태그(문자열) 제거: extract()

### 예제 1

In [1]:
import requests
from bs4 import BeautifulSoup

In [9]:
markup = '<p> 빅데이터 분석과 응용 <b>매주 금요일 18:00-21:00</b></p>'
soup = BeautifulSoup(markup, 'html.parser')
mydata = soup.find('p') #  = soup.p
print(mydata.get_text())

 빅데이터 분석과 응용 매주 금요일 18:00-21:00

In [10]:
soup.b.extract()
print(mydata.get_text())

 빅데이터 분석과 응용

### 예제2 - extract()는 특정 태그(문자열)을 반환

In [18]:
markup = '<a href="http://example.com/">I linked to <i>example.com</i></a>'
soup = BeautifulSoup(markup)
a_tag = soup.a
print(a_tag)

<a href="http://example.com/">I linked to <i>example.com</i></a>

In [19]:
i_tag = soup.i.extract()
print(i_tag)

<i>example.com</i>

In [20]:
print(a_tag) # i 태그 잘려나감

<a href="http://example.com/">I linked to </a>

### 제거할 태그가 없는 상태에서 제거하려할 경우 에러발생

In [21]:
soup.i.extract()

AttributeError: 'NoneType' object has no attribute 'extract'

### parent 부모 태그를 찾아야할 떄

In [22]:
markup = '<a href="http://example.com/">I linked to <i>example.com</i></a>' # 먼저나온게 부모, 뒤에나온게 자식
soup = BeautifulSoup(markup)
tag = soup.i
print(tag)
print(tag.parent)

<i>example.com</i>
<a href="http://example.com/">I linked to <i>example.com</i></a>

In [24]:
print(tag.string) # tag.get_taxt()와 동일

example.com

In [25]:
print(tag.string.extract()) # 두번 실행시켜보자!

example.com

In [26]:
print(tag) # extract 후

<i></i>

### 예제3 - 여러부분에서 제거해야하는 경우 (갯수가 맞아야 함)

In [32]:
markup = '''
    <a href="http://naver.com/">네이버 <i>홈페이지</i></a>
    <a href="http://mju.ac.kr/">명지대 <i>홈페이지</i></a>
    <a href="http://hongik.ac.kr/">홍익대 <i>홈페이지</i></a>
    '''

soup = BeautifulSoup(markup)
mydata = soup.find_all('a')
print(mydata)

[<a href="http://naver.com/">네이버 <i>홈페이지</i></a>, <a href="http://mju.ac.kr/">명지대 <i>홈페이지</i></a>, <a href="http://hongik.ac.kr/">홍익대 <i>홈페이지</i></a>]

In [33]:
for item in mydata:
    soup.i.extract()
    #print(soup)
print(mydata)

[<a href="http://naver.com/">네이버 </a>, <a href="http://mju.ac.kr/">명지대 </a>, <a href="http://hongik.ac.kr/">홍익대 </a>]

---
# 젝시믹스 best 상품명, 가격 크롤링

In [386]:
# 특정 페이지에서 크롤링할 떄
res = requests.get('https://www.xexymix.com/shop/shopbrand.html?xcode=020&type=Y')
soup = BeautifulSoup(res.content)
#soup.strike.extract()
data_name = soup.find_all('li', 'prd-name')

#for item in data_name:
#    soup.strike.extract()
    #print(soup)
#print(mydata)

for item in data_name:
    print(item.get_text())

셀라V업 3D 플러스 레깅스 마지막 1+1
블랙라벨 시그니처 380N 레깅스 1+1
아이스페더 1+1
아이스페더 컴포트 1+1
셀라업텐션 레깅스 마지막 1+1
블랙라벨 시그니처 360N 레깅스 1+1
탄성팬츠 9.0&9.5 1+1
루드 힙 쉘조거 1+1
블랙라벨 시그니처 360N 8.5부 레깅스 1+1
블랙라벨 시그니처 360N 부츠컷 팬츠 1+1
하이디 베이직 브라탑 1+1
블랙라벨 시그니처 300N 수퍼라이트 레깅스 1+1
미디움페더 조거팬츠 1+1
컴포터블 카고 조거팬츠 1+1
요가삭스 1+1
헤바 크롭탑 1+1
필리퍼 1+1
 블랙라벨 시그니처 라이프 9부 레깅스 1+1
프레쉬페더 트위스트 크롭 숏슬리브 1+1
블랙라벨 시그니처 330N 레깅스 1+1
심리스 SET
아노락 후드 투웨이 바람막이 캐슈넛베이지
머슬핏 숏슬리브 1+1
탄성팬츠 올시즌 9.0&9.5 1+1
젤라 인텐션 스퀘어 브라탑 1+1
블랙라벨 시그니처 380N 서포트탑 1+1
데일리 조깅스 블랙
에어센트 1+1
심리스 쇼츠 1+1
메쉬 스트링 숏슬리브 1+1
젤라 인텐션 슬림핏 집업자켓 1+1
글로리아 스퀘어 브라탑 1+1
아노락 후드 투웨이 바람막이 블랙
하이넥 아웃스트링 바람막이 블랙
피케 슬림핏 카라 원피스 1+1
우븐 믹스 후드 집업 스모키베이지
벨벳 트랙라인 조거팬츠 1+1
쿨링코튼 크롭탑 1+1
에어로 마스크 1+1
아노락 후드 투웨이 바람막이 미스트민트
에어드로즈 투인원 쇼츠 1+1
트리플 엑스 숏슬리브 1+1
필드 하프집업 롱슬리브 1+1
픽셀로고 루즈핏 숏슬리브 1+1
레터링삭스 1+1
심볼 크루삭스 2+1
베이직 니삭스 2+1
X-데이라이트조거 스톤화이트
뮤턴트 롱 원피스 블랙
X-2 클래식화이트
쿨맥스 에코모드 포켓 티셔츠 1+1
심리스 브라 스킨
쿨앤드 베이직 티셔츠 1+1
몰리스 베이지 SET
마니악 쉘조거 1+1
볼륨브라패드(2.5cm)
뮤턴트 롱 원피스 멜란지그레이
X-로우캔버스 시나몬블랙
이온세라 립밤 앤 멀티스틱 No.1 오리지널
딱붙 젤펜슬 라이너앤브로우
심리스 브라 블랙
X-1 유니크 실버라임
젤리볼륨 립틴트 1+1
X-하이커 트리플베이지
001에어리&100스코어 선크림 1+1
벨벳크림&젤리볼륨 립틴트 1+1
피그먼트 슬로건 티셔츠 1+1
스탠다드 슬로건 후드집업 블랙
스탠다드 슬로건 후드집업 모스베이지
컴포터블 카고 조거팬츠 블랙

In [387]:
res = requests.get('https://www.xexymix.com/shop/shopbrand.html?xcode=020&type=Y')
soup = BeautifulSoup(res.content)


for strike in soup("strike"):
    strike.decompose()

for span in soup('span'):
    span.decompose()
    
data_price = soup.find_all('li', 'prd-price')


price = []
for item in data_price:
    price.append(item.get_text().strip())

In [388]:
while '' in price:
    price.remove('')

In [389]:
price

['32,000',
 '59,000',
 '32,000',
 '34,000',
 '39,000',
 '54,000',
 '99,000',
 '39,000',
 '49,000',
 '58,000',
 '53,000',
 '54,000',
 '58,000',
 '99,000',
 '11,900',
 '34,000',
 '49,000',
 '58,000',
 '32,000',
 '48,000',
 '29,000',
 '57,000',
 '52,000',
 '99,000',
 '47,000',
 '58,000',
 '42,000',
 '29,000',
 '16,000',
 '38,000',
 '98,000',
 '49,000',
 '57,000',
 '59,000',
 '59,000',
 '59,000',
 '79,000',
 '32,000',
 '9,900',
 '57,000',
 '66,000',
 '54,000',
 '68,000',
 '49,000',
 '9,900',
 '13,800',
 '17,800',
 '69,000',
 '29,000',
 '69,000',
 '49,000',
 '26,000',
 '29,000',
 '19,000',
 '44,000',
 '4,900',
 '29,000',
 '72,000',
 '14,000',
 '9,900',
 '26,000',
 '79,000',
 '14,900',
 '89,000',
 '14,900',
 '14,900',
 '49,000',
 '35,000',
 '35,000',
 '52,000']

In [390]:
import pandas as pd

In [391]:
df=pd.DataFrame({'name':[], 
            'price':[]})

In [392]:
df['name'] = data_name

In [393]:
df['price'] = price

In [402]:
df['price'] = df.price.str.replace(',', '').astype('int64')

In [406]:
df.sort_values('price', ascending=False)

                      name  price
13      [컴포터블 카고 조거팬츠 1+1]  99000
6       [탄성팬츠 9.0&9.5 1+1]  99000
23  [탄성팬츠 올시즌 9.0&9.5 1+1]  99000
30   [젤라 인텐션 슬림핏 집업자켓 1+1]  98000
63          [X-하이커 트리플베이지]  89000
..                     ...    ...
14              [요가삭스 1+1]  11900
38           [에어로 마스크 1+1]   9900
44             [레터링삭스 1+1]   9900
59        [딱붙 젤펜슬 라이너앤브로우]   9900
55         [볼륨브라패드(2.5cm)]   4900

[70 rows x 2 columns]

# 제주도 블로그 포스팅 글목록, 일자 크롤링

In [298]:
news = []
site_pre = 'https://blog.naver.com/PostList.naver?from=postList&blogId=happyjejudo&categoryNo=35&parentCategoryNo=0&currentPage='
for i in range(1, 10):
    res = requests.get(site_pre + str(i))
    soup = BeautifulSoup(res.content)
    mydata = soup.find_all('strong', 'title ell')
    for item in mydata:
        news.append(item.get_text())
    #print(mydata)

In [299]:
date = []
for i in range(1, 10):
    res = requests.get(site_pre + str(i))
    soup = BeautifulSoup(res.content)
    mydata_date = soup.find_all('span', 'date')
    for item in mydata_date:
        date.append(item.get_text())
    #print(mydata)

In [303]:
jeju = pd.DataFrame({'title':news, 
                    'date':date})

In [304]:
jeju

                                    title          date
0                 제주에서 만나는 벚꽃, 평화통일 불사리탑사   2022. 4. 7.
1                       4월 제주 벚꽃 여행 '녹산로'   2022. 4. 6.
2    자전거 타고 봄나들이 가기 전, 자전거 무상수리센터에서 점검해요!   2022. 4. 6.
3                     제주산 햇양파 우리가 사랑 합시다.   2022. 4. 5.
4                        제주북페어 2022 책 운동회   2022. 4. 5.
..                                    ...           ...
139                    제주 추사관 서귀포 김정희 유배지   2021. 9. 2.
140                 저녁에 산책하기 좋은 김녕항 해안산책로  2021. 8. 31.
141    이야기로만 들어봤던 '제주 초가집'을 가보다! - 문형행 가옥  2021. 8. 30.
142   꼭 해변이 아니라도 좋은 제주도 바다 풍경 - 구좌 해안도로 편  2021. 8. 30.
143                 새 생명이 움트는 아름다운 숲 저지오름  2021. 8. 29.

[144 rows x 2 columns]

# 네이버 영화 - 라라랜드 평점, 리뷰 크롤링

In [311]:
id_list = []
id_pre = '_filtered_ment_'

for i in range(0, 10):
    id_list.append(id_pre + str(i))

for no in id_list:
    print(no)

_filtered_ment_0
_filtered_ment_1
_filtered_ment_2
_filtered_ment_3
_filtered_ment_4
_filtered_ment_5
_filtered_ment_6
_filtered_ment_7
_filtered_ment_8
_filtered_ment_9

In [370]:
mydata = []
site_pre = 'https://movie.naver.com/movie/bi/mi/pointWriteFormList.naver?code=134963&type=after&isActualPointWriteExecute=false&isMileageSubscriptionAlready=false&isMileageSubscriptionReject=false&page='
for i in range(1, 11):
    res = requests.get(site_pre + str(i))
    soup = BeautifulSoup(res.content, 'html.parser')

    id_list = []
    id_pre = '_filtered_ment_'

    for i in range(0, 10):
        id_list.append(id_pre + str(i))


    for id in id_list:
        mydata.append(soup.find('span', {'id':id}).get_text().strip())

In [375]:
myscore = []
site_pre = 'https://movie.naver.com/movie/bi/mi/pointWriteFormList.naver?code=134963&type=after&isActualPointWriteExecute=false&isMileageSubscriptionAlready=false&isMileageSubscriptionReject=false&page='
for i in range(1, 11):
    res = requests.get(site_pre + str(i))
    soup = BeautifulSoup(res.content, 'html.parser')

    score = soup.find_all('div', 'star_score')
    for i in score:
        myscore.append(i.get_text().strip())

In [378]:
movie = pd.DataFrame({'review':mydata,
                     'score':myscore})

In [385]:
movie.astype({'score':'int'}).sort_values('score', ascending=False)

                                               review  score
50  꿈과 성공, 그리고 사랑을 인생의 선 상에서 아름답게  표현했다. 춤과 노래가 어우...     10
29  끝나고도 계속 생각나네요 황홀하다는 느낌이 이런느낌이랄까  영상도 너무이쁘고 마지막...     10
66                                  내 인생작이라 할만큼 재밌게봤음     10
32  사람들은 현실같은 영화를 지루하다고 한다 그리고 온갖 영화스러움이 가득한 영화를 현...     10
65  인생 영화 또 하나 탄생. 보고 나서 여운이 몇날 며칠은 갈 것 같은 영화. 마지막...     10
..                                                ...    ...
77  너무나도 평점이 좋은 영화여서 너무 기대를했지만 이렇게 지루하고 재미없는 영화는 처...      1
67  남친있는 상태에서 남자주인공으로 환승 남주 꿈 존중하는 듯 하더니 은근슬적 압박줘서...      1
73  뭐가 재밌다는 건지..여자 주인공 왤케 의리 없는지 이해 안 감..음악이랑 춤은 좋...      1
72                                     나만재미없냐 솔직히말해봐라      1
79                                     저랑은 안맞는영화인것같네요      1

[100 rows x 2 columns]